# Server
PORT=3000

# Database (Prisma)
DATABASE_URL="mysql://usuario:password@localhost:3306/delivery_db"

# JWT Auth
JWT_SECRET="write_a_super_secure_secret_here_to_sign_tokens"

# Cloudinary (Image Uploads)
CLOUDINARY_CLOUD_NAME="your_cloud_name_here"
CLOUDINARY_API_KEY="your_api_key_here"
CLOUDINARY_API_SECRET="your_api_secret_here"